<div id="main-menu" class="main-menu">
  <ul>
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    <li class="menu-item-{{ .Name | lower }}{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}">
      <a href="{{ .URL }}">
        <span>{{ .Name }}</span>
      </a>
      {{ if .HasChildren }}
      <ul class="sub-menu">
        {{ range .Children }}
        <li class="sub-menu-item-{{ .Name | lower }}">
          <a href="{{ .URL }}">
            <span>{{ .Name }}</span>
          </a>
        </li>
        {{ end }}
      </ul>
      {{ end }}
    </li>
    {{ end }}
  </ul>
</div>
